html{
    margin:0px;
    font-size: 62.5%;
}

body{
    background-color: #2F4F30;
    margin:0px;
    overflow: auto;
}

header{
    background-color: black;
    color:white;
    font-size: 20px;
    text-align:center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
}

.controles{
    margin: 1rem;
}

.botonera{
    display:flex;
    justify-content: center;
}

button{
    margin:0.3rem;
    padding:0.4rem;
}

.begin{
    background: red;
    border-color: purple;
    color:white;
    border-radius: 5px;
}

main{
  display:block;
}
h1{
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    justify-self: center;
    margin-left: 20px;
}

.col{
    margin-bottom: 4rem;
}
.card{
    width: 120px;
    position:relative;
    left:100px;
    margin-left:-75px;
}

#Jugador-cartas, #Computadora-cartas{
    height: 180px ;
}